<div class="content">
  <div class="row" style="margin-top: 1%;">
    <div class="col-3" style="margin-top: 15%">
      <button class="btn btn-info mb-3" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#userInfo" aria-expanded="false" aria-controls="collapseExample">
        Kullanici Bilgilerim 
      </button>
      <button class="btn btn-info mb-3" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#cardInfo" aria-expanded="false" aria-controls="collapseExample">
        Kayitli Kartlarim 
      </button>
      <button class="btn btn-info mb-3" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#rentalInfo" aria-expanded="false" aria-controls="collapseExample">
        Gecmis Kiralamalar 
      </button>
    </div>
    <div class="col-9">
      <div class="collapse" id="userInfo">
        <app-user-info [user]="user"></app-user-info>
      </div>
      <div class="collapse" id="cardInfo">
        <app-user-cardinfo [user]="user"></app-user-cardinfo>
      </div>
      <div class="collapse" id="rentalInfo">
        Uzerine Cailisiliyor
      </div>
    </div>
  </div>
</div>

