<div class="container" style="background-color: azure">
  <app-navigator></app-navigator>

  <div class="row" id="customers" style="padding: 5px; margin-top: 10px">
    <app-customer></app-customer>
  </div>

  <div class="row" id="rentals" style="padding: 5px; margin-top: 3px">
    <app-rental></app-rental>
  </div>

  <div
    class="row"
    id="car-container"
    style="
      border: 1px solid rgba(0, 0, 0, 0.198);
      border-radius: 10px;
      padding: 5px;
      margin-top: 3px;
    "
  >
    <div class="col-2" style="text-align: center">
      <div class="row" id="colors" style="padding: 5px">
        <app-color></app-color>
      </div>
      <div class="row" id="brands" style="padding: 5px">
        <app-brand></app-brand>
      </div>
    </div>
    <div class="col-10">
      <app-car></app-car>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
