<div class="container" style="background-color: azure">
  <app-navigator></app-navigator>

  <div class="row" id="droppers" style="margin:30px 0px 30px 0px;" >
    <div class="col-6 dropdown" style="text-align: center;">
      <button class="btn btn-info dropdown-toggle" type="button" id="customerList" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;" >
        <strong> MUSTERI LISTESI </strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="customerList" style="padding: 1%;">
        <app-customer></app-customer>
      </div>
    </div>
    <div class="col-6 dropdown" style="text-align: center;">
      <button class="btn btn-info dropdown-toggle" type="button" id="rentalList" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;" >
        <strong> KIRALAMA LISTESI </strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="rentalList" style="padding:1%">
        <app-rental></app-rental>
      </div>
    </div>
  </div>

  <div
    class="row" id="car-container">
    <div class="col-2" style="text-align: center">
      <div class="row car-filter" id="colors">
        <app-color></app-color>
      </div>
      <div class="row car-filter" id="brands">
        <app-brand></app-brand>
      </div>
    </div>
    <div class="col-10">
      <app-car></app-car>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
