<div class="row" style="height: 60px">
  <div class="col-3">
    <div style="width: 45%; float: left; margin-top: 10%">
      <h5><strong>Tarzan </strong>Filo</h5>
    </div>

    <div style="width: 40%; float: left">
      <a routerLink="car">
        <img src="assets/img/logo.png" alt="logo" width="100%" height="100%" />
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="row" style="padding-top: 40px">
      <div class="col-8">
        <table>
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                  Renkler
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let color of colors">
                    <a class="dropdown-item" routerLink="/car/listbycolor/{{ color.colorId }}" >
                      {{ color.colorName }}
                    </a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                  Modeller
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let brand of brands">
                    <a class="dropdown-item" routerLink="/car/listbybrand/{{ brand.brandId }}">{{ brand.brandName }}</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <a type="button" href="#droppers" class="btn btn-secondary" routerLink="customers" >Musteriler</a>
            </td>
            <td>
              <a type="button" class="btn btn-secondary" routerLink="rentals"> Kiralananlar </a>
            </td>
            <td>
              <a type="button" href="#car-container" class="btn btn-secondary"> Araclar </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4" style="text-align:right; margin-top: 10px;" >
        <div *ngIf="!isAuthFlag" >
          <button class="btn btn-outline-success" routerLink="login" style="margin: 0px 5px 0px 5px;">GIRIS</button>
          <button class="btn btn-outline-success" routerLink="register" style="margin: 0px 22px 0px 5px;">KAYIT</button>
        </div>
        <div *ngIf="isAuthFlag" >
          <div style="float: right;">
            <button class="btn btn-fill btn-secondary" routerLink="logout" style="width: auto; height: 40px;">
                <img src="assets/img/logout.png" width="30"/>
            </button>
          </div>
          <div style="float: right;">
            <span class="text-uppercase fs-6 input-group-text"> {{userName}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
