<!-- <div class="row" style="height: 60px">
  <div class="col-3">
    <div style="width: 45%; float: left; margin-top: 10%">
      <h5><strong>Tarzan </strong>Filo</h5>
    </div>

    <div style="width: 40%; float: left">
      <img src="assets/img/logo.png" alt="logo" width="100%" height="100%" />
    </div>
  </div>
  <div class="col-9">
    <div class="row" style="padding-top: 19px">
      <div class="col-8">
        <table>
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Renkler
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let color of colors">
                    <a class="dropdown-item" href="#">{{color.colorName}}</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Modeller
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let brand of brands">
                    <a class="dropdown-item" href="#">{{brand.brandName}}</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <a type="button" href="#droppers" class="btn btn-secondary">Musteriler</a>
            </td>
            <td>
              <a type="button" href="#droppers" class="btn btn-secondary">Kiralama</a>
            </td>
            <td>
              <a type="button" href="#car-container" class="btn btn-secondary">Araclar</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Ara</button>
        </form>
      </div>
    </div>
  </div>
</div>  -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="border-radius: 10px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <form class="d-flex" style="float: left">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
